/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    background-color: lightgray;
}

/*Main Content*/
main {
    background-color: white;
}

/*Footer*/
footer {
    background-color: gray;
}