/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables for colours */
:root {
    --black:  #0C0D13;
    --white:  #ffffff;
    --grey:   #CDC8C6;
    --accent: #C4515D;
    --dark:   #777271;
  }

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic site styles */
    color: var(--black);
    font-family: 'Inter', sans-serif;
}


/*Header*/
header {
    background-color: var(--grey);
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*Remove underline from and change colour of links*/
header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.5em;
}

h2 {
    font-weight: 300;
    font-size: 1em;
}

h3 {
    color: var(--accent);
}

#main-heading {
    margin: 5px auto;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .5em;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: var(--grey);
    padding: 0 1rem;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content*/
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 60px;
}

/*About section*/

/*Hero image*/

#hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#blue-headshot {
    max-width: 100%;
    height: auto;
}

/*About paragraph*/

#about-paragraph {
    margin-top: 2em;
}

/*Footer*/
footer {
    background-color: var(--dark);
}

/*Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /*Header*/

    header {
        position: relative;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        bottom: 0;
        left: -5%;
        top: 54px;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #main-heading {
        font-size: 150%;
        line-height: 60px;
        margin-left: 20%;
    }

    main {
        margin-top: 0;
    }

    /*About section*/

    #about {
        display: flex;
    }

    #hero-image,
    #about-div {
        display: flex;
        flex-direction: column;
    }

    #hero-image {
        width: 35vw;
        margin-left: 12vw;
    }

    #about-div {
        width: 30vw;
        margin-top: 50px;
        margin-right: 14vw;
        margin-left: 5em;
        
    }


  
}

/*Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        color: var(--accent);
        border-bottom: 1px solid var(--accent);
    }
}