/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables for colours */
:root {
    /*colours*/
    --black:  #0C0D13;
    --white:  #ffffff;
    --grey:   #CDC8C6;
    --accent: #C4515D;
    --dark:   #777271;

    /*fonts*/
    --large-heading: 'Montserrat', sans-serif;
    --small-heading: 'Roboto', sans-serif;
    --body-text: 'Inter', sans-serif;
  }

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic site styles */
    color: var(--black);
    font-family: var(--body-text);
}


/*Header*/
header {
    background-color: var(--grey);
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*Remove underline from and change colour of links*/
header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: var(--large-heading);
}

h1 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.5rem;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
}

h3 {
    color: var(--accent);
}

#main-heading {
    margin: 5px auto;
}

/*Navigation*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .5rem;
}

/*Nav menu styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: var(--grey);
    padding: 0 1rem;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: var(--black);
}



/*Main Content*/
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /*Add margin at top to prevent content being covered by header*/
    margin-top: 62px;
    /*Enable flex properties for child elements*/
    display: flex;
    flex-direction: column;
}

/*About section*/

/*Hero image*/

#hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

#blue-headshot {
    max-width: 100%;
    height: auto;
}

/*About paragraph*/

#about-paragraph, 
#showreel-video {
    margin-top: 1rem;
}

#about-me {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*Showreel*/

#showreel {
    margin-top: 2rem;
}
 
/*Contact Form*/

#contact {
    padding: 1rem 10% 0 10%;
    flex-grow: 1;
    margin-bottom: 2rem;
}

#contact-form {
    padding: 1rem;
    color: var(--white);
    background-color: var(--grey);
}

#contact-form h3 {
    margin-bottom: 1rem;
}

.text-input {
vertical-align: top;
width: 100%;
margin-bottom: .5rem;
margin-top: .25rem;
border: none;
}


/*Colour around input box when focused*/
    /*How to get rid of original :focus?*/
.text-input:focus {
    border: 3px solid var(--accent);
}


#message-box {
height: 5rem;
}

/*Submit button*/

#contact-form .join-button-container {
    display: flex;
    justify-content: center;
}

.join-button {
    background-color: var(--accent);
    color: var(--white);
    border-radius: 4px;
    font-size: 100%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    cursor: pointer;
}

.join-button:hover {
    background-color: #C53847;
}


/*Footer*/
footer {
    background-color: var(--dark);
}

/*Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /*Header*/

    header {
        position: relative;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        bottom: 0;
        left: -5%;
        top: 54px;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #main-heading {
        font-size: 150%;
        line-height: 60px;
        margin-left: 20%;
    }

    main {
        margin-top: 0;
    }

    /*About section*/

    #about {
        display: flex;
    }

    #hero-image,
    #about-me {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    #hero-image {
        width: 35vw;
        margin-left: 12vw;
    }

    #about-me {
        width: 30vw;
        margin-right: 14vw;
        margin-left: 5rem;        
    }


}

/*Media query: landscape tablets and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        color: var(--accent);
        border-bottom: 1px solid var(--accent);
    }

   
}